[MASTER]
extension-pkg-whitelist=

[MESSAGES CONTROL]
# Отключить предупреждения, которые не критичны для учебного проекта
disable=C0103,C0301,R0903,W0511

[FORMAT]
max-line-length=120

[BASIC]
# Разрешить имена в lowercase для констант
const-rgx=([A-Z_][A-Z0-9_]*)|([a-z_][a-z0-9_]*)$